:root {
    /* Main - Aulas*/
	--current-class-list-bg: var(--light);
	--current-class-list-button-bg: var(--gray1);
	--current-class-list-button-hover-bg: var(--gray3);
	--previous-next-class-bg: var(--gray2);
	--previous-next-class-bd: var(--gray5);
}

/* Media Queries */
@media (max-width: 999px) {
	.my-week .summary .current-previous-next-class {
		grid-template-areas: 
			'current current'
			'previous next'
		;
		grid-template-rows: 1fr 7.5rem;
		grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
	}

	.my-week .summary .current-previous-next-class .current-class {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list button {
		flex-direction: column;
		height: 5.5rem !important;
	}

	.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list button i {
		font-size: 1.5rem;
	}
}

@media (min-width: 1000px) {
	.my-week .summary .current-previous-next-class {
		grid-template-areas: 
			'current previous'
			'current next'
		;
		grid-template-columns: 1fr 12.5rem;
		grid-template-rows: calc(50% - 0.5rem) calc(50% - 0.5rem);
	}

	.my-week .summary .current-previous-next-class .current-class {
		display: grid;
		grid-template-areas: 
			'texts shortcuts'
			'files shortcuts'
		;
		grid-template-rows: 1fr 10rem;
		grid-template-columns: 1fr minmax(0, min(50%, 15rem));
		gap: 0.75rem;
	}

	.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list {
		flex-direction: column;
	}
}

/* Main */
.my-week .summary {
	display: grid;
	grid-template-areas: 
		'h1 btn'
		'cpnc cpnc'
	;
	grid-template-columns: 1fr 10rem;
	gap: 1rem;
} 

.my-week .summary h1 { grid-area: h1; }
.my-week .summary .show-schedule { 
	grid-area: btn; 
	align-self: center;
	justify-self: end;
	height: 100%;
	width: 10rem;
	border-radius: 0.75rem;
}

.my-week .summary .current-previous-next-class {
	grid-area: cpnc;
	display: grid;
	gap: 1rem;
	height: fit-content;
}

.my-week .summary .current-previous-next-class .current-class {
	grid-area: current;
	height: fit-content;
	padding: 2rem;
	background: var(--primary-emphasis);
	border: var(--border-width) solid var(--light);
	outline: var(--separator-width) dashed var(--light);
	outline-offset: -0.75rem;
	box-shadow: var(--default-bs);
	border-radius: 1.25rem;	
	color: var(--white);
}

.my-week .summary .current-previous-next-class .current-class :is(p, h2, h6) {
	color: var(--white);
}

.my-week .summary .current-previous-next-class .previous-class { grid-area: previous; }
.my-week .summary .current-previous-next-class .next-class { grid-area: next; }


.my-week .summary .current-previous-next-class .current-class .texts { 
	grid-area: texts; 
	height: fit-content;
}

.my-week .summary .current-previous-next-class .current-class .files { grid-area: files; }
.my-week .summary .current-previous-next-class .current-class .shortcuts { 
	display: flex;
	grid-area: shortcuts; 
	gap: 0.75rem;
}

.my-week .summary .current-previous-next-class .current-class .files,
.my-week .summary .current-previous-next-class .current-class .shortcuts {
	display: flex;
	flex-direction: column;
	background: var(--current-class-list-bg);
	border: var(--border-width) solid var(--light);
	box-shadow: var(--light-bs);
	border-radius: 0.75rem;
	padding: 1rem;
	gap: 0.5rem;
}

.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list,
.my-week .summary .current-previous-next-class .current-class .files .files-list {
	display: flex;
	gap: 0.5rem;
	height: 100%;
}

.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list button,
.my-week .summary .current-previous-next-class .current-class .files .files-list button {
	background: var(--current-class-list-button-bg);
	border: var(--border-width) solid var(--light);
	box-shadow: var(--light-bs);
	height: 100%;
	width: 100%;
	padding: 0.75rem 1rem;
}

.my-week .summary .current-previous-next-class .current-class .files .files-list button {
	flex-direction: column;
	width: 6.5rem;
	height: 6.5rem;
}

.my-week .summary .current-previous-next-class .current-class .files .files-list button i {
	font-size: 1.5rem;
}

.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list button:hover,
.my-week .summary .current-previous-next-class .current-class .files .files-list button:hover {
	background: var(--current-class-list-button-hover-bg);
}

.my-week .summary .current-previous-next-class .previous-class, 
.my-week .summary .current-previous-next-class .next-class {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: var(--previous-next-class-bg);
	border: var(--border-width) solid var(--previous-next-class-bd);
	outline: var(--separator-width) dashed var(--previous-next-class-bd);
	outline-offset: -0.75rem;
	box-shadow: var(--light-bs);
	border-radius: 1.25rem;
}

/* Footer */
footer {
	display: flex;
	position: fixed;
	left: 2rem;
	bottom: 2rem;
	max-width: calc(100% - 4rem);
	padding: 0.25rem;
	height: 3rem;
	border-radius: 1.5rem;
	background: var(--footer-nav-bg-color);
	border: var(--border-width) solid var(--light);
	overflow-x: auto;
	z-index: 9998;
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 0.25rem;
	flex-shrink: 0;
}

footer::-webkit-scrollbar {
	display: none;
}

footer nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 1.25rem;
	gap: 0.3rem;
	padding: 0 1rem;
	color: var(--white);
	text-decoration: none;
	font-size: var(--default-fs);
	transition: var(--default-color-transition);
}

footer nav a:not(.active) * {
	color: var(--white);
}

footer nav a:hover {
	background: var(--light);
}

footer nav a.active {
	background: var(--footer-nav-button-bg-color);
	box-shadow: var(--default-bs);
	color: var(--fc);
}

footer nav .separator {
	height: 2rem;
	width: var(--separator-width);
	border-radius: calc(var(--separator-width) / 2);
	background: var(--light);
}
