:root {
    /* Main - Aulas*/
	--current-class-bg-color: var(--primary-emphasis);
	--current-class-list-bg-color: var(--light);
	
}

/* Media Queries */
@media (max-width: 999px) {
	.my-week .summary .current-previous-next-class {
		grid-template-areas: 
			'current current'
			'previous next'
		;
		grid-template-rows: 1fr 7.5rem;
		grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
	}

	.my-week .summary .current-previous-next-class .current-class {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list button {
		flex-direction: column;
		height: 5.5rem !important;
	}

	.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list button i {
		font-size: 1.5rem;
	}
}

@media (min-width: 1000px) {
	.my-week .summary .current-previous-next-class {
		grid-template-areas: 
			'current previous'
			'current next'
		;
		grid-template-columns: 1fr 13rem;
		grid-template-rows: calc(50% - 0.5rem) calc(50% - 0.5rem);
	}

	.my-week .summary .current-previous-next-class .current-class {
		display: grid;
		grid-template-areas: 
			'texts shortcuts'
			'files shortcuts'
		;
		grid-template-rows: 1fr 11rem;
		grid-template-columns: 1fr 15rem;
		gap: 0.75rem;
		width: 100%;
	}

	.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list {
		flex-direction: column;
	}
}

/* My Week */
.my-week .summary {
	display: grid;
	grid-template-areas: 
		'h1 btn'
		'cpnc cpnc'
	;
	grid-template-columns: 1fr 13rem;
	gap: 1rem;
	min-width: 0;
	width: 100%;
} 

.my-week .summary h1 { 
	grid-area: h1; 
}

.my-week .summary .show-schedule { 
	grid-area: btn; 
	align-self: center;
	justify-self: end;
	height: 100%;
	width: 100%;
	border-radius: 0.75rem;
}

.my-week .summary .show-schedule * {
	color: var(--white);
}

.my-week .summary .current-previous-next-class {
	grid-area: cpnc;
	display: grid;
	gap: 1rem;
	height: fit-content;
}

.my-week .summary .current-previous-next-class .current-class {
	grid-area: current;
	height: fit-content;
	padding: 2rem;
	background: var(--current-class-bg-color);
	border: var(--border-width) solid var(--light);
	outline: var(--separator-width) dashed var(--light);
	outline-offset: -0.75rem;
	box-shadow: var(--default-bs);
	border-radius: 1.25rem;	
	color: var(--white);
	min-width: 0;
}

.my-week .summary .current-previous-next-class .current-class :is(p, h2, h6) {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--white);
}

.my-week .summary .current-previous-next-class .previous-class { grid-area: previous; }
.my-week .summary .current-previous-next-class .next-class { grid-area: next; }


.my-week .summary .current-previous-next-class .current-class .texts { 
	grid-area: texts; 
	height: fit-content;
	min-width: 0;
}

.my-week .summary .current-previous-next-class .current-class .files { grid-area: files; }
.my-week .summary .current-previous-next-class .current-class .shortcuts { 
	display: flex;
	grid-area: shortcuts; 
	gap: 0.75rem;
}

.my-week .summary .current-previous-next-class .current-class .files,
.my-week .summary .current-previous-next-class .current-class .shortcuts {
	display: flex;
	flex-direction: column;
	background: var(--current-class-list-bg-color);
	border: var(--border-width) solid var(--light);
	box-shadow: var(--light-bs);
	border-radius: 0.75rem;
	padding: 1rem;
	gap: 0.5rem;
	min-width: 0;
}

.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list,
.my-week .summary .current-previous-next-class .current-class .files .files-list {
	display: flex;
	gap: 0.5rem;
	height: 100%;
	overflow-x: auto;
}

.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list::-webkit-scrollbar,
.my-week .summary .current-previous-next-class .current-class .files .files-list::-webkit-scrollbar {
	display: none;
}

.my-week .summary .current-previous-next-class .current-class .shortcuts .shortcuts-list :is(li, li button),
.my-week .summary .current-previous-next-class .current-class .files .files-list li :is(li, li button) {
	height: 100%;
	width: 100%;
	min-width: 6.5rem;
	filter: none;
	transition: var(--default-color-transition);
}

.my-week .summary .current-previous-next-class .current-class .files .files-list button {
	flex-direction: column;
}

.my-week .summary .current-previous-next-class .current-class .files .files-list button i {
	font-size: 1.5rem;
}

.my-week .summary .current-previous-next-class .previous-class, 
.my-week .summary .current-previous-next-class .next-class {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: 1.25rem;
}

.my-week .all-classes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.my-week .all-classes .class {
	display: flex;
	flex-direction: column;
	background: var(--div-bg-color);
	border: var(--border-width) solid var(--div-bd-color);
	padding: 2rem;
	border-radius: 1.25rem;
	overflow: hidden;
}