:root {
    /* Main Nav */
	--main-nav-height: 2.5rem;
	--main-nav-bg: var(--tgray1);
	--main-nav-bd: var(--tgray5);
	--main-nav-a-hover-bg: var(--tgray4);
	--main-nav-a-active-bg: var(--primary-emphasis);
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: calc(var(--border-width) * 2 + var(--main-nav-height));
	gap: 0.25rem;
	left: 2rem;
	bottom: 2rem;
	max-width: calc(100% - 4rem);
	padding: 0.25rem;
	border-radius: 1.5rem;
	background: var(--main-nav-bg);
	border: var(--border-width) solid var(--main-nav-bd);
	box-shadow: var(--light-bs);
	backdrop-filter: blur(0.25rem);
	overflow-x: auto;
	z-index: var(--header-nav-z-index);
}

.main-nav.top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100% !important;
	max-width: 100% !important;
	top: var(--header-height) !important;
	left: 0 !important;
	transform: none !important;
	border-radius: 0 !important;
}

.main-nav::-webkit-scrollbar {
	display: none;
}

.main-nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 1.25rem;
	gap: 0.3rem;
	padding: 0 1rem;
	text-decoration: none;
	font-size: var(--default-fs);
	transition: var(--default-color-transition);
}

.main-nav a:hover {
	background: var(--main-nav-a-hover-bg);
}

.main-nav a.active {
	background-color: var(--main-nav-a-active-bg);
}

.main-nav a.active * {
	color: var(--white) !important;
}

.main-nav .separator {
	height: 2rem;
	width: var(--separator-width);
	border-radius: calc(var(--separator-width) / 2);
	background: var(--light);
}
