* {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: 'Inter', 'sans-serif';
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: var(--default-primary-fc);
}

:root {
	/* Paleta de Cores */
	--primary-emphasis: rgb(0, 30, 200);
	--secondary-emphasis: rgb(250, 140, 20);

	--red: var(--lred);
	--orange: var(--lorange);
	--yellow: var(--lyellow);
	--green: var(--lgreen);
	--turquoise: var(--lturquoise);
	--blue: var(--lblue);
	--purple: var(--lpurple);
	--pink: var(--lpink);

	--lred: rgb(210, 0, 0);
	--lorange: rgb(240, 70, 20);
	--lyellow: rgb(240, 145, 0);
	--lgreen: rgb(0, 170, 0);
	--lturquoise: rgb(0, 170, 145);
	--lblue: rgb(0, 30, 180);
	--lpurple: rgb(95, 0, 220);
	--lpink: rgb(220, 0, 100);

	--dred: rgb(200, 0, 0);
	--dorange: rgb(230, 65, 20);
	--dyellow: rgb(230, 140, 0);
	--dgreen: rgb(0, 160, 0);
	--dturquoise: rgb(0, 160, 135);
	--dblue: rgb(0, 25, 160);
	--dpurple: rgb(90, 0, 210);
	--dpink: rgb(210, 0, 95);

	--lgray1: rgb(245, 245, 250);
	--lgray2: rgb(235, 235, 240);
	--lgray3: rgb(225, 225, 230);
	--lgray4: rgb(215, 215, 220);
	--lgray5: rgb(205, 205, 210);
	--lgray6: rgb(195, 195, 200);

	--tlgray1: rgba(245, 245, 250, 0.8);
	--tlgray2: rgba(235, 235, 240, 0.8);
	--tlgray3: rgba(225, 225, 230, 0.8);
	--tlgray4: rgba(215, 215, 220, 0.8);
	--tlgray5: rgba(205, 205, 210, 0.8);
	--tlgray6: rgba(195, 195, 200, 0.8);

	--dgray1: rgb(10, 10, 15);
	--dgray2: rgb(20, 20, 25);
	--dgray3: rgb(30, 30, 35);
	--dgray4: rgb(40, 40, 45);
	--dgray5: rgb(50, 50, 55);
	--dgray6: rgb(60, 60, 65);

	--tdgray1: rgba(10, 10, 15, 0.9);
	--tdgray2: rgba(20, 20, 25, 0.9);
	--tdgray3: rgba(30, 30, 35, 0.9);
	--tdgray4: rgba(40, 40, 45, 0.9);
	--tdgray5: rgba(50, 50, 55, 0.9);
	--tdgray6: rgba(60, 60, 65, 0.9);

	--gray1: var(--lgray1);
	--gray2: var(--lgray2);
	--gray3: var(--lgray3);
	--gray4: var(--lgray4);
	--gray5: var(--lgray5);
	--gray6: var(--lgray6);

	--tgray1: var(--tlgray1);
	--tgray2: var(--tlgray2);
	--tgray3: var(--tlgray3);
	--tgray4: var(--tlgray4);
	--tgray5: var(--tlgray5);
	--tgray6: var(--tlgray6);

	--light: rgba(255, 255, 255, 0.2);
	--shadow: rgba(0, 0, 0, 0.2);

	--white: rgb(250, 250, 255);

	/* Body */
	--body-bg-color: var(--gray1);

	/* Div */ 
	--div-bg-color: var(--gray2);
	--div-bd-color: var(--gray6);

	/* Botões */
	--button-bg-primary-color: var(--primary-emphasis);
	--button-bd-primary-color: var(--light);

	--button-bg-secondary-color: var(--gray2);
	--button-bd-secondary-color: var(--gray6);

	--highlight-button-bg-color: var(--secondary-emphasis);

	--button-br: 0.5rem;

	/* Header */
	--header-height: 2.75rem;
	--header-spaces: 0.5rem;
	--header-bg-color: var(--primary-emphasis);
	--header-button-bg-color: var(--gray2);
	--header-button-bd-color: var(--gray4);

	/* Section */
	--minor-padding-section: 2.5rem;
	--major-padding-section: 5rem;

	/* Dialog */
	--dialog-bg-color: var(--gray1);
	--dialog-bd-color: var(--gray4);

	/* Outros */
	--header-nav-z-index: 9998;

	/* Font */
	--default-fs: 0.9rem;
	--default-primary-fc: rgb(0, 0, 0);
	--default-secondary-fc: rgb(130, 130, 130);
	
	/* Box Shadow */
	--light-bs: 0 0 0.5rem rgba(0, 0, 0, 0.15);
	--default-bs: 0 0 1rem rgba(0, 0, 0, 0.3);

	/* Border */
	--hr-color: var(--gray5);
	--border-width: 0.0625rem;
	--separator-width: 0.125rem;

	/* Transições */
	--default-color-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
	--default-size-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, scale 0.3s ease-in-out, transform 0.3s ease-in-out;
	--default-spaces-transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out, gap 0.3s ease-in-out;
	--default-height-transition: height 0.3s ease-in-out;
	--default-filter-transition: filter 0.3s ease-in-out;
	--default-opacity-in-transition: opacity 0.3s ease-in-out, visibility 0s, scale 0.3s;
	--default-opacity-out-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, scale 0.3s;
}

/* Geral */
html {
	scroll-behavior: smooth;
}

h1, h2, h3 {
	font-family: 'Inter Tight', 'sans-serif';
}

h1 { 
	font-size: 3rem; 
	border-bottom: 3px solid var(--secondary-emphasis);
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; }

.no-transition {
	transition: none !important;
}

.divider {
	display: flex;
    align-items: center;
    text-align: start;
    color: var(--primary-emphasis);
	font-weight: 600;
    gap: 0.5rem; 
}

.divider::after {
    content: "";
    flex: 1;
    height: var(--separator-width);
	border-radius: calc(var(--separator-width) / 2);
    background: var(--primary-emphasis); 
}

.first-layer-element {
	background: var(--div-bg-color);
	border: var(--border-width) solid var(--div-bd-color);
	outline: var(--separator-width) dashed var(--div-bd-color);
	outline-offset: -0.75rem;
	box-shadow: var(--light-bs);
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	gap: 0.4rem;
	background: var(--button-bg-primary-color);
	border: var(--border-width) solid var(--button-bd-primary-color);
	box-shadow: var(--light-bs);
	outline: var(--separator-width) dashed var(--button-bd-primary-color);
	outline-offset: -0.5rem;
	border-radius: var(--button-br);
	cursor: pointer;
	color: var(--default-primary-fc);
	font-size: var(--default-fs);
	overflow: hidden;
	transition: var(--default-filter-transition);
}

button.special {
	background: var(--highlight-button-bg-color);
	color: var(--white);
}

li > button {
	background: var(--button-bg-secondary-color);
	border: var(--border-width) solid var(--button-bd-secondary-color);
	outline: var(--separator-width) dashed var(--button-bd-secondary-color);
	outline-offset: -0.5rem;
}

ul.list {
	list-style: none;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: var(--border-width) solid var(--hr-color);
	border-radius: 0.1rem;
}

dialog {
	display: flex;
	flex-direction: column;
	position: fixed;
	background: var(--dialog-bg-color);
	border: var(--border-width) solid var(--dialog-bd-color);
	outline: var(--separator-width) dashed var(--dialog-bd-color);
	outline-offset: -0.5rem;
	padding: 1.25rem;
	border-radius: 1rem;
	left: 50%;
	top: 50%;
	opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
	transform-origin: center bottom;
	transition: transform 0.3s ease-in-out, var(--default-opacity-in-transition);
	box-shadow: var(--default-bs);
	pointer-events: auto;
}

dialog.is-closed {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.95);
    transition: transform 0.3s ease-in-out, var(--default-opacity-out-transition);
    pointer-events: none;
}

dialog .dialog-select {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.close-dialog-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 1.75rem;
	width: 1.75rem;
	right: -0.5rem;
	top: -0.5rem;
	border-radius: 50%;
	padding: 0;
	outline: none;
}

.close-dialog-btn i {
	color: var(--white);
}

body {
	background: var(--body-bg-color);
	overflow: hidden;
}

/* Media Queries */
@media (max-width: 999px) {
	main section {
		padding: 0 var(--minor-padding-section);
	}

	footer {
		left: 50% !important;
		transform: translateX(-50%);
	}

	.page header {
        padding: 0 var(--minor-padding-section);
    }
}

@media (min-width: 1000px) {
	main section {
		padding: 0 var(--major-padding-section);
	}

	.page header {
        padding: 0 var(--major-padding-section);
    }
}

/* Keyframes */
@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(0.75rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in {
	animation: fade-in-up 0.6s ease-out both;
	animation-delay: calc(var(--fade-order, 0) * 0.025s);
}
  
/* Header */
.tab-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	padding-left: var(--header-spaces);
	height: var(--header-height);
	width: 100%;
	gap: var(--header-spaces);
	top: 0;
	left: 0;
	background: var(--header-bg-color);
	z-index: var(--header-nav-z-index);
}

.tab-header::after {
	content: '';
	position: fixed;
	width: 100%;
	height: 2rem;
	left: 0;
	top: var(--header-height);
	background: var(--header-button-bg-color);
	border-bottom: var(--border-width) solid var(--header-button-bd-color);
}

.tab-header :is(#new-tab, .tab-button.active-tab) {
	border: none;
}

.tab-header #new-tab {
	padding: 0;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: var(--button-br);
	font-size: 0.6rem;
	flex-shrink: 0;
	box-shadow: var(--light-bs);
	outline: none;
}

.tab-header #new-tab i { color: var(--white); }

.tab-header nav {
	display: flex;
	flex-direction: row;
	align-items: end;
	height: 100%;
	width: 100%;
	gap: 0.25rem;
	overflow-x: auto;
}

.tab-header nav::-webkit-scrollbar {
	display: none;
}

.tab-header nav .tab-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 11rem;
	height: 2.25rem;
	padding: 0.5rem 0.75rem;
	padding-bottom: 1rem;
	border-radius: var(--button-br) var(--button-br) 0 0;
	flex-shrink: 0;
	cursor: pointer;
	transition: var(--default-color-transition), var(--default-size-transition), var(--default-spaces-transition);
}

.tab-header nav .tab-button:not(.active-tab) * {
	color: white;
}

.tab-header nav .tab-button .tab-text {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.tab-header nav .tab-button .tab-text i { font-size: 0.9rem; }

.tab-header nav .tab-button.active-tab {
	background: var(--header-button-bg-color);
	padding-bottom: 0.5rem;
	box-shadow: var(--light-bs);
	color: var(--default-primary-fc);
}

.tab-header nav .tab-button .tab-title {
	font-size: 0.95rem;
}

.tab-separator {
	display: flex;
	width: var(--separator-width);
	height: calc(var(--header-height) - 1rem);
	background: var(--light);
	transform: translateY(-0.5rem);
	flex-shrink: 0;
}

/* Main */
main {
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: calc(var(--border-width) + var(--header-height) + 2rem);
	height: 100vh;
	--s: 28px;       
    --w: 1px;     
    background: var(--gray1);
    background-image:
		repeating-linear-gradient(
			to bottom,
			var(--gray3) 0 var(--w),
			transparent var(--w) var(--s)
		),
		repeating-linear-gradient(
			to right,
			var(--gray3) 0 var(--w),
			transparent var(--w) var(--s)
		);
	background-position: var(--w);
    background-size: var(--s) var(--s);
	border-top: var(--w) solid var(--gray4);
}

main > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem 0 7rem 0;
}

main section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.tab-content-title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.tab-content-title a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 0.75rem;
	background: var(--button-bg-primary-color);
	outline: var(--separator-width) dashed var(--light);
	outline-offset: -0.5rem;
	box-shadow: var(--default-bs);
    color: var(--white); 
	flex-shrink: 0;
	text-decoration: none;
	transition: var(--default-color-transition);
}

.tab-content-title a i {
	color: var(--white);
}

.tab-content-title h1 { width: 100%; }

