* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'sans-serif';
  box-sizing: border-box;
}

:root {
  --emphasis: rgb(0, 136, 255);
  --temphasis: rgba(0, 40, 255, 0.75);

  --gray1: rgb(15, 15, 20);
  --gray2: rgb(25, 25, 30);
  --gray3: rgb(35, 35, 40);
  --gray4: rgb(45, 45, 50);
  --gray5: rgb(55, 55, 60);
  --gray6: rgb(65, 65, 70);

  --tgray1: rgba(15, 15, 20, 0.8);
  --tgray2: rgba(25, 25, 30, 0.8);
  --tgray3: rgba(35, 35, 40, 0.8);
  --tgray4: rgba(45, 45, 50, 0.8);
  --tgray5: rgba(55, 55, 60, 0.8);
  --tgray6: rgba(65, 65, 70, 0.8);

  --text-color: rgb(255, 255, 255);
  --border-width: 1px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.4rem;
  background-color: transparent;
  border: var(--border-width) solid var(--tgray6);
  transition: background-color 0.3s;
  cursor: pointer;
  color: var(--text-color);
}

button:hover {
  background-color: var(--tgray6);
}

button.emphasis, button.active {
  background-color: var(--emphasis);
  border: 1px solid var(--emphasis);
  color: white;
}

body {
  --s: 28px;       
  --w: 1px;     

  background-color: var(--gray1);
  background-image:
    repeating-linear-gradient(
      to bottom,
      var(--gray2) 0 var(--w),
      transparent var(--w) var(--s)
    ),
    repeating-linear-gradient(
      to right,
      var(--gray2) 0 var(--w),
      transparent var(--w) var(--s)
    );
  background-size: var(--s) var(--s);
}

footer {
  position: fixed;
  width: auto;
  max-width: 100%;
  background-color: var(--tgray2);
  border: var(--border-width) solid var(--tgray3);
  border-radius: 1rem;
  padding: 0.3rem;
  left: 1rem;
  bottom: 1rem;
  backdrop-filter: blur(1rem);
  z-index: 9997;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0.5rem;
}

footer button {
  height: 2rem;
  border-radius: 0.75rem;
}